Set

Sets are unordered, mutable collections of immutable objects that cannot contain duplicates. Sets are useful for storing and performing operations on data where each value is unique. Create a set with a comma separated sequence of values within curly braces.

In [1]:
matkul = {"Excel", "Python", "Azure", "Pemograman Web", "Android"}

In [3]:
print(matkul)

{'Python', 'Azure', 'Excel', 'Pemograman Web', 'Android'}

In [2]:
type (matkul)

set

In [4]:
 #Add and remove items from a set with add() and remove() respectively
matkul.add("Bahasa Inggris")

In [5]:
print(matkul)

{'Python', 'Azure', 'Excel', 'Pemograman Web', 'Android', 'Bahasa Inggris'}

In [7]:
matkul.remove("Azure")

In [8]:
print(matkul)

{'Python', 'Excel', 'Pemograman Web', 'Android', 'Bahasa Inggris'}

In [67]:
#Set List Number SERIOUS DATA

number1 = {4,4,4,6,6,6,6,5,5,5,5,5}

In [68]:
print(number1)

{4, 5, 6}

In [65]:
nama ={"Y","U","S","U","F"}

In [66]:
print(nama)

{'S', 'U', 'Y', 'F'}

Dictionary

Dictionary is also a non-homogeneous data structure which stores key value pairs, represented by {}, and doesnâ€™t allow duplicate keys.

In [16]:
#Create a dict object
student = {"Student name":"Andi Yusuf", "Addres": "Jakarta","study program":"Teknik Informatika","age": 20,"ambition":"Teknik Informatika",1:"Backend Developer",2:"Games Developer","Favorite food":["Fried rice","rendang","meat ball"]}

In [10]:
#Access the value using the key
print(student['Student name'])

Andi Yusuf

In [17]:
student["study program"]

'Teknik Informatika'

In [15]:
student["Favorite food"]

['Fried rice', 'rendang', 'meat ball']

In [18]:
student[1]

'Backend Developer'

In [19]:
student[2]

'Games Developer'

In [21]:
#Update the value for a particular key
student['Addres'] = "Bandung"

In [22]:
print(student["Addres"])

Bandung

In [29]:
#Insert a new key-value pair
student['Tinggi'] = 170

In [30]:
print(student)

{'Student name': 'Andi Yusuf', 'Addres': 'Bandung', 'study program': 'Teknik Informatika', 'age': 20, 'ambition': 'Teknik Informatika', 1: 'Backend Developer', 2: 'Games Developer', 'Favorite food': ['Fried rice', 'rendang', 'meat ball'], 'Tinggi': 170}

In [31]:
#Delete a key-value pair
del student['Tinggi']
print(student)

{'Student name': 'Andi Yusuf', 'Addres': 'Bandung', 'study program': 'Teknik Informatika', 'age': 20, 'ambition': 'Teknik Informatika', 1: 'Backend Developer', 2: 'Games Developer', 'Favorite food': ['Fried rice', 'rendang', 'meat ball']}

Convert Data Types

The process of converting the value of one data type (integer, string, float, etc.) to another data type

In [ ]:
#Converts object x to a string representation with str(). To do this pass a number or a variable containing the numeric value to this function.
p = str(29)

In [ ]:
print(type(p))

<class 'str'>

In [33]:
#Convert Float to Integer

6.9

6.9

In [34]:
type(6.9)

float

In [37]:
print(type(int(6.9)))

<class 'int'>

In [39]:
int(6.9)

6

In [42]:
#Convert Integer to Float

19

19

In [43]:
type(19)

int

In [44]:
print(type(float(19)))

<class 'float'>

In [45]:
float(19)

19.0

In [ ]:
19

In [ ]:
age = 21
warning = 'You must be ' + str(age) + '-years-old to enter this bar'
warning

'You must be 21-years-old to enter this bar'