Set

Sets are unordered, mutable collections of immutable objects that cannot contain duplicates. Sets are useful for storing and performing operations on data where each value is unique. Create a set with a comma separated sequence of values within curly braces.

In [6]:
#General Syntax
some_set = {"item 1", "item 2", "item n"}

In [20]:
color = {"yellow", "blue", "red", "green", "white"}

In [21]:
 #Add and remove items from a set with add() and remove() respectively
color.add("skyblue")

In [22]:
print(color)

{'white', 'green', 'skyblue', 'red', 'yellow', 'blue'}

In [23]:
color.remove("red")
print(color)

{'white', 'green', 'skyblue', 'yellow', 'blue'}

Dictionary

Dictionary is also a non-homogeneous data structure which stores key value pairs, represented by {}, and doesnâ€™t allow duplicate keys.

In [29]:
#Create a dict object
student = {"firstName": "Tiara", "lastName": "Andini","age": 20, "hobby": "watch MV"}

In [30]:
#Access the value using the key
print(student['lastName'])

Andini

In [31]:
#Update the value for a particular key
student['hobby'] = "study"

In [32]:
print(student["hobby"])

study

In [34]:
#Insert a new key-value pair
student['middleName'] = 'Angel'

In [35]:
print(student)

{'firstName': 'Tiara', 'lastName': 'Andini', 'age': 20, 'hobby': 'study', 'middleName': 'Angel'}

In [36]:
#Delete a key-value pair
del student['hobby']
print(student)

{'firstName': 'Tiara', 'lastName': 'Andini', 'age': 20, 'middleName': 'Angel'}

Convert Data Types

The process of converting the value of one data type (integer, string, float, etc.) to another data type

In [49]:
#Converts object x to a string representation with str(). To do this pass a number or a variable containing the numeric value to this function.
p = str(29)

In [50]:
print(type(p))

<class 'str'>

In [39]:
age = 21
warning = 'You must be ' + str(age) + '-years-old to enter this bar'
warning

'You must be 21-years-old to enter this bar'

In [43]:
#Converts x to a floating-point number with float(x)
n = float("1.98")

In [44]:
print(type(n))

<class 'float'>

In [45]:
m = float(91)

In [46]:
print(type(m))

<class 'float'>

In [51]:
#Converts x to an integer with int(x)
o = int(6.1)

In [52]:
print(type(o))

<class 'int'>